body {
  height: 95vh;
  width: auto;
  display: flex;
  justify-content: center; /* align elements horizontally on center */
  align-items: center; /* align elements vertically on center */
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  color: rgb(200, 200, 200);
  font-family: "Odibee Sans", cursive;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
}

a {
  color: rgb(50, 185, 248);
}

canvas {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.attribute {
  padding-top: 10px;
}
